<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>

<!--   <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
    <%#= render "layouts/admin_shared/search_field" %>    
  </form> -->
  <!-- 提示信息-->
  <ul class="navbar-nav ml-auto">
    <%= render "layouts/admin_shared/search_dropdown" %>
    <%= render "layouts/admin_shared/notifications" %>
    <%#= render "layouts/admin_shared/messages" %>
    <div class="topbar-divider d-none d-sm-block"></div>
    <%= render "layouts/admin_shared/user_nav" %>
  </ul>

</nav>