  <div class="form-group row justify-content-start align-items-center">
    <div class="col-sm-4 text-right">
      <%= require_span %><label class="col-form-label">当前密码</label>
    </div>
    <div class="col-sm-8 mb-3 mb-sm-0">
      <%= password_field_tag :password,'',class: "form-control form-control-user",placeholder:"当前密码",autocomplete: 'new-password' %>
    </div>
  </div>