<div class="card-header py-3">
  <h6 class="m-0 font-weight-bold text-primary">修改项目 <%= link_to_back url: params[:back] || admin_projects_path  %>  </h6>
</div>
<div class="card-body">
  <div  id="basic_info">
    <%= render 'form'%>
  </div>
  <div  id="file_info" class="ml20">
  </div>
</div>