<div class="card-header py-3">
  <h6 class="m-0 font-weight-bold text-primary">操作日志 <%= link_to_back url: params[:back] || admin_projects_path  %> </h6>
</div>
<div class="card-body" >
  <%= render 'project_logs'%>  
</div>