.bg-login-image {
    background: url(../../img/login_back.jpeg);
    background-position: center;
    background-size: cover;
}

.bg-register-image {
    background: url(../../img/sign_up_back.jpeg);
    background-position: center;
    background-size: cover;
}